# Import Libraries and Data

In [1]:
import os
import pandas as pd
import json

In [2]:
os.getcwd()

'c:\\Users\\nardi\\OneDrive\\Desktop\\DataAnalysis\\entertainment-analysis\\notebooks'

In [3]:
df = pd.read_json(r"C:\Users\nardi\OneDrive\Desktop\DataAnalysis\entertainment-analysis\data\raw.jsonl", lines=True)

In [4]:
df.head()

,movie_id,title,release_date,budget,revenue_worldwide,runtime,genres,imdb_id,franchise,cast_popularity_mean,cast_popularity_max,director_popularity,original_language,imdb_rating,imdb_votes,mpaa_rating,domestic_box_office,rotten_tomatoes_score,metacritic_score,awards_text
0,8193,Napoleon Dynamite,2004-06-11,400000,46118097,95,[Comedy],tt0374900,False,1.358067,2.4790,1.3126,en,7.0,251071.0,PG,44540956.0,72.0,64.0,10 wins & 23 nominations total
1,663558,New Gods: Nezha Reborn,2021-02-06,0,70000000,117,"[Animation, Fantasy, Action]",tt13269670,True,0.865500,1.3269,0.5921,zh,6.8,4451.0,TV-14,NaN,80.0,NaN,3 wins & 3 nominations total
2,614409,To All the Boys: Always and Forever,2021-02-12,0,0,115,"[Romance, Comedy, Drama]",tt10676012,True,3.196233,5.6727,0.2037,en,6.3,37385.0,TV-14,NaN,79.0,65.0,2 wins & 2 nominations total
3,12,Finding Nemo,2003-05-30,94000000,940335536,100,"[Animation, Family]",tt0266543,True,1.427567,1.8011,1.2339,en,8.2,1185437.0,G,380843261.0,99.0,90.0,Won 1 Oscar. 49 wins & 63 nominations total
4,16,Dancer in the Dark,2000-09-01,12500000,40061153,140,"[Drama, Crime]",tt0168629,False,1.903567,2.5962,2.2434,en,7.9,122419.0,R,4184036.0,69.0,63.0,Nominated for 1 Oscar. 34 wins & 48 nomination...

In [7]:
df

,movie_id,title,release_date,budget,revenue_worldwide,runtime,genres,imdb_id,franchise,cast_popularity_mean,cast_popularity_max,director_popularity,original_language,imdb_rating,imdb_votes,mpaa_rating,domestic_box_office,rotten_tomatoes_score,metacritic_score,awards_text
0,8193,Napoleon Dynamite,2004-06-11,400000,46118097,95,[Comedy],tt0374900,False,1.358067,2.4790,1.3126,en,7.0,251071.0,PG,44540956.0,72.0,64.0,10 wins & 23 nominations total
1,663558,New Gods: Nezha Reborn,2021-02-06,0,70000000,117,"[Animation, Fantasy, Action]",tt13269670,True,0.865500,1.3269,0.5921,zh,6.8,4451.0,TV-14,NaN,80.0,NaN,3 wins & 3 nominations total
2,614409,To All the Boys: Always and Forever,2021-02-12,0,0,115,"[Romance, Comedy, Drama]",tt10676012,True,3.196233,5.6727,0.2037,en,6.3,37385.0,TV-14,NaN,79.0,65.0,2 wins & 2 nominations total
3,12,Finding Nemo,2003-05-30,94000000,940335536,100,"[Animation, Family]",tt0266543,True,1.427567,1.8011,1.2339,en,8.2,1185437.0,G,380843261.0,99.0,90.0,Won 1 Oscar. 49 wins & 63 nominations total
4,16,Dancer in the Dark,2000-09-01,12500000,40061153,140,"[Drama, Crime]",tt0168629,False,1.903567,2.5962,2.2434,en,7.9,122419.0,R,4184036.0,69.0,63.0,Nominated for 1 Oscar. 34 wins & 48 nomination...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,147441,Exodus: Gods and Kings,2014-12-03,140000000,268031828,150,"[Adventure, Drama, Action]",tt1528100,False,4.433300,6.8510,2.5366,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2596,499701,Dora and the Lost City of Gold,2019-08-08,49000000,120600000,102,"[Family, Comedy, Adventure]",tt7547410,False,2.859233,7.0517,0.7501,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2597,917496,Beetlejuice Beetlejuice,2024-09-04,99000000,452000435,105,"[Comedy, Fantasy, Horror]",tt2049403,True,5.655267,9.6374,3.3036,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2598,73723,The Lorax,2012-03-01,70000000,349305397,86,"[Animation, Family]",tt1482459,False,4.390167,7.9015,0.5801,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2599,638974,Murder Mystery 2,2023-03-28,0,0,91,"[Mystery, Comedy, Crime]",tt15255288,True,3.903633,4.6910,0.3419,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df

,movie_id,title,release_date,budget,revenue_worldwide,runtime,genres,imdb_id,franchise,cast_popularity_mean,cast_popularity_max,director_popularity,original_language,imdb_rating,imdb_votes,mpaa_rating,domestic_box_office,rotten_tomatoes_score,metacritic_score,awards_text
0,8193,Napoleon Dynamite,2004-06-11,400000,46118097,95,[Comedy],tt0374900,False,1.358067,2.4790,1.3126,en,7.0,251071.0,PG,44540956.0,72.0,64.0,10 wins & 23 nominations total
1,663558,New Gods: Nezha Reborn,2021-02-06,0,70000000,117,"[Animation, Fantasy, Action]",tt13269670,True,0.865500,1.3269,0.5921,zh,6.8,4451.0,TV-14,NaN,80.0,NaN,3 wins & 3 nominations total
2,614409,To All the Boys: Always and Forever,2021-02-12,0,0,115,"[Romance, Comedy, Drama]",tt10676012,True,3.196233,5.6727,0.2037,en,6.3,37385.0,TV-14,NaN,79.0,65.0,2 wins & 2 nominations total
3,12,Finding Nemo,2003-05-30,94000000,940335536,100,"[Animation, Family]",tt0266543,True,1.427567,1.8011,1.2339,en,8.2,1185437.0,G,380843261.0,99.0,90.0,Won 1 Oscar. 49 wins & 63 nominations total
4,16,Dancer in the Dark,2000-09-01,12500000,40061153,140,"[Drama, Crime]",tt0168629,False,1.903567,2.5962,2.2434,en,7.9,122419.0,R,4184036.0,69.0,63.0,Nominated for 1 Oscar. 34 wins & 48 nomination...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,157544,The Vatican Tapes,2015-07-23,13000000,1784763,91,"[Thriller, Horror]",tt1524575,False,1.800800,3.8809,0.4650,en,4.7,19567.0,PG-13,1784763.0,20.0,38.0,N/A
797,1900,Traffic,2000-12-27,48000000,207500000,147,"[Thriller, Drama, Crime]",tt0181865,False,5.133700,7.1506,1.4925,en,7.5,228102.0,R,124115725.0,93.0,86.0,Won 4 Oscars. 73 wins & 86 nominations total
798,51052,Arthur Christmas,2011-11-10,10000000,151300000,97,"[Drama, Animation, Family, Comedy]",tt1430607,False,5.064400,6.4297,0.3238,en,7.1,70891.0,PG,46462469.0,93.0,69.0,Nominated for 2 BAFTA 3 wins & 23 nominations ...
799,1903,Vanilla Sky,2001-12-14,68000000,203388341,136,"[Mystery, Romance, Science Fiction]",tt0259711,False,8.208467,14.2865,1.0526,en,6.9,299078.0,R,100618344.0,41.0,45.0,Nominated for 1 Oscar. 5 wins & 34 nominations...
800,1904,Memoirs of a Geisha,2005-12-06,85000000,162242962,146,"[Drama, Romance, History]",tt0397535,False,3.714400,4.3366,0.6846,en,7.3,168253.0,PG-13,57490508.0,35.0,54.0,Won 3 Oscars. 32 wins & 47 nominations total

In [14]:
df.columns

Index(['movie_id', 'title', 'release_date', 'budget', 'revenue_worldwide',
       'runtime', 'genres', 'imdb_id', 'franchise', 'cast_popularity_mean',
       'cast_popularity_max', 'director_popularity', 'original_language',
       'imdb_rating', 'imdb_votes', 'mpaa_rating', 'domestic_box_office',
       'rotten_tomatoes_score', 'metacritic_score', 'awards_text', 'profit',
       'roi'],
      dtype='object')

In [15]:
q1_df = df[[
    "budget",
    "revenue_worldwide",
    "roi",
    "imdb_rating",
    "cast_popularity_mean",
    "cast_popularity_max",
    "director_popularity"
]].copy()

In [16]:
for col in q1_df.columns:
    q1_df[col] = pd.to_numeric(q1_df[col], errors="coerce")

In [17]:
q1_df = q1_df.dropna(subset=[
    "budget",
    "revenue_worldwide",
    "imdb_rating"
])

In [18]:
q1_df["imdb_rating"] = q1_df["imdb_rating"] / 10
q1_df["cast_popularity_mean"] = (
    q1_df["cast_popularity_mean"] - q1_df["cast_popularity_mean"].mean()
) / q1_df["cast_popularity_mean"].std()

q1_df["budget"] = (
    q1_df["budget"] - q1_df["budget"].mean()
) / q1_df["budget"].std()

In [20]:
q1_df["box_office_success"] = q1_df["roi"]

In [21]:
q1_final = q1_df[[
    "box_office_success",
    "budget",
    "imdb_rating",
    "cast_popularity_mean",
    "cast_popularity_max",
    "director_popularity"
]].dropna()

In [22]:
q1_final.corr()["box_office_success"].sort_values(ascending=False)

box_office_success      1.000000
imdb_rating             0.037601
director_popularity     0.007575
cast_popularity_max    -0.080653
cast_popularity_mean   -0.095876
budget                 -0.124160
Name: box_office_success, dtype: float64

In [28]:
df['release_date'] = pd.to_datetime(df['release_date'])

C:\Users\nardi\AppData\Local\Temp\ipykernel_13708\1525507706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_date'] = pd.to_datetime(df['release_date'])

In [29]:
df['month'] = df['release_date'].dt.month

C:\Users\nardi\AppData\Local\Temp\ipykernel_13708\4046624750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['release_date'].dt.month

In [30]:
def assign_season(month):
    if month in [6, 7, 8]: return 'Summer'
    if month in [12, 1, 2]: return 'Winter'
    return 'Other'

df['season'] = df['month'].apply(assign_season)

C:\Users\nardi\AppData\Local\Temp\ipykernel_13708\1234277538.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['season'] = df['month'].apply(assign_season)

In [31]:
q2_df = df[(df['season'].isin(['Summer', 'Winter'])) & (df['revenue_worldwide'] > 0)].copy()

In [32]:
seasonal_comparison = q2_df.groupby('season')['revenue_worldwide'].mean().sort_values(ascending=False)

print("Average Worldwide Revenue by Season:")
print(seasonal_comparison)

Average Worldwide Revenue by Season:
season
Summer    2.341969e+08
Winter    2.190730e+08
Name: revenue_worldwide, dtype: float64